@import "../../scss/breakpoints";

.welcome__view {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  min-height: 60vh;
  padding: 2em;

  @include breakpoint(medium) {
    padding: 3em;
  }

  @include breakpoint(large) {
    flex-direction: row;
    justify-content: space-between;
    padding: 6em;
  }
}

.welcome__view__main {
  display: flex;
  flex-direction: column;
  text-align: center;

  @include breakpoint(large) {
    width: 60%;
    text-align: left;
  }

  @include breakpoint(xlarge) {
    width: 40%;
  }
}

.welcome__view__aside {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;

  @include breakpoint(large) {
    width: 40%;
    text-align: right;
    align-items: flex-end;
  }
}
