$theme_dark: hsl(128, 75%, 12%);
$theme_light: hsl(128, 22%, 62%);
$text_dark: hsl(120, 14%, 3%);
$text_light: hsl(0, 0%, 100%);
$heading_dark: hsl(128, 13%, 10%);
$heading_light: hsl(128, 100%, 76%);
